@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* Add the following CSS rules */
*{
  font-family: 'Poppins';
  font-weight: normal;
}

h1{
  font-weight: bold;
}
.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .input-container label {
    margin-bottom: 10px;
  }
  
  .input-container input[type="text"] {
    margin-bottom: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
    animation: slide-up 1s ease-in-out 1s;
    margin-bottom: 20px;
  }
  
  .button:hover {
    background-color: #000;
    color: #fff;
  }
  