<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lectrify</title>
  <link rel="stylesheet" href="../static/landing.css">
</head>
<body>
  <header>
    <nav>
      <a href="#">Lectrify</a>
      <ul>  
        <li><a href="#">Home</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section id="hero">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_eZKIOQb0HS.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player> -->
    <h1>Please fill your desired options.</h1>
    <!-- <p>Please fill your desired options.</p> -->
    <div class="options-container">
      <div class="input-container">
        <label for="topic">Enter Topic:</label>
        <input type="text" id="topic" placeholder="Enter topic">
      </div>
      <div class="input-container">
        <label for="grade">Enter Grade:</label>
        <input type="text" id="grade" placeholder="Enter grade">
      </div>
      <div class="input-container">
        <label for="board">Enter Board:</label>
        <input type="text" id="board" placeholder="Enter board">
      </div>
    </div>
    <a href="/speechToText" class="button">Start teaching</a>
  </section>

  <footer>
    <p>&copy; 2023 Lectrify. All rights reserved.</p>
  </footer>

  <script src="../static/choose.js"></script>
</body>
</html>
