<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lectrify</title>
	<link rel="stylesheet" href="landing.css">
</head>
<body>
	<header>
		<nav>
			<a href="#">Lectrify</a>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Courses</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>

	<section id="hero">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_eZKIOQb0HS.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
		<h1>Welcome to Lectrify.</h1>
		<p>Lectures, but Electrified.</p>
		<a href="#" class="button">Get Started</a>
        
        <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_g27aahev.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; position:absolute; bottom:0; right:0;"  loop controls autoplay></lottie-player> -->
	</section>
      

	
	<footer>
		<p>&copy; 2023 Lectrify. All rights reserved.</p>
	</footer>
	
	<script src="landing.js"></script>
</body>
</html>


