<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Speech to Text</title>
  <link rel="stylesheet" href="../static/speechToText.css">
</head>
<body>
<div class="center">
  <image src="../static/images/student1.gif" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></image>
</div>

<div class="chat-window">
  <div class="chat-messages"></div>
  <div class="chat-input">
    <form id="message-form" method="POST">
      <input type="text" placeholder="Type a message..." name="message" required />
      <button class="voice-button">Speak</button>
      <div class="row">
        <button class="button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script>
  const recognition = new webkitSpeechRecognition();
  recognition.interimResults = true;

  const messages = document.querySelector(".chat-messages");
  const form = document.getElementById("message-form");
  const voiceButton = document.querySelector(".voice-button");

  function sendMessage(message) {
    const div = document.createElement("div");
    div.classList.add("message");
    div.textContent = message;
    messages.appendChild(div);
  }

  recognition.addEventListener("result", e => {
    const transcript = Array.from(e.results)
      .map(result => result[0])
      .map(result => result.transcript)
      .join("");

    if (e.results[0].isFinal) {
      sendMessage(transcript);
    }
  });

  voiceButton.addEventListener("click", () => {
    recognition.start();
  });

  form.addEventListener("submit", e => {
    e.preventDefault();
    const message = form.elements.message.value;
    form.elements.message.value = "";
    sendMessage(message);
  });

</script>
</body>
</html>
