<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teach the Student</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='write.css') }}">
</head>
<body>
  <header>
    <nav>
      <a href="#">Lectrify</a>
      <ul>  
        <li><a href="#">Home</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <form method="POST">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Type something.." ></textarea>
        </div>
      </div>
      <div class="row">
        <button class="button" type="submit">Submit</button>
      </div>
    </form>
  </div>
  
</form>
</body>
</html>
